body{
font-family: Arial;
background:#f0f6ff;
margin:0;
text-align:center;
}

.main-title{
color:#007BFF;
margin-top:30px;
font-size:34px;
font-weight:bold;
text-align:center;
width:100%;
}

.login-container{
width:320px;
margin:120px auto;
text-align:center;
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

input{
width:90%;
padding:10px;
margin:10px;
}

button{
background:#007BFF;
color:white;
border:none;
padding:10px 15px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#0056b3;
}